@import 'normalize';

@font-face {
    font-family: "FuturaBookC";
    src: url("./assets/fonts/Futurabookc.otf");
}

@font-face {
    font-family: "Yeseva One";
    src: url("./assets/fonts/YesevaOne-Regular.ttf");
}

@font-face {
    font-family: "Proxima Nova";
    src: url("./assets/fonts/Proxima-Nova.ttf");
}

@mixin standard-button {
    padding: 20px 42px;
    outline: none;
    background-color: #E3B873;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;

}

@mixin left-subimage-bar {
    position: absolute;
    content: "";
    width: 32px;
    height: 1px;
    background-color: #E3B873;
    top: 45%;
    left: -40px;
}

@mixin right-subimage-bar {
    position: absolute;
    content: "";
    width: 32px;
    height: 1px;
    background-color: #E3B873;
    top: 45%;
    right: -40px;
}

$screen-task: 375px;
$screen-s: 576px;
$screen-x: 768px;
$screen-xl: 992px;
$screen-xxl: 1200px;


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.header-inner {
    max-width: 1440px;
    margin: 0 auto;

    &-top {
        background-color: #131313;
        padding: 24px 0 22px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        &__logo {
            color: #E3B873;
            font-size: 14px;
            text-transform: uppercase;
            cursor: pointer;
        }

        &__menu {
            width: 600px;
            display: flex;
            justify-content: space-between;

            // max-width: 880px;
            &-item {
                font-size: 14px;
                color: #fff;
                text-decoration-line: none;

                &:hover {
                    color: #E3B873;
                }
            }
        }

        &__call {
            display: flex;
            align-items: center;

            &-tel {
                color: #E3B873;
                font-size: 14px;
                border-bottom: 1px solid #E3B873;
                cursor: pointer;
                text-decoration: none;
            }

            &-btn {
                padding: 13px 33px;
                border: 0;
                text-transform: uppercase;
                color: #fff;
                border: none;
                background-color: #E3B873;
                border-radius: 2px;
                cursor: pointer;
                font-size: 13px;
                margin-left: 30px;
            }
        }
    }

    &-content {
        display: flex;
        flex-grow: 1;

        &-left {
            display: flex;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #E3B873;
            background-color: #131313;

            & a {
                color: #E3B873;
                text-decoration: none;
            }

            & p {
                transform: rotate(90deg);
                position: relative;
            }

            & p::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 51px;
                background-color: #E3B873;
                bottom: 8px;
                right: -59px;
            }
        }

        &-main {
            color: #fff;
            display: flex;
            padding-top: 194px;
            padding-left: 60px;
            padding-bottom: 208px;
            background: url("../../assets/images/header-bg.png") no-repeat;
            background-size: cover;
            position: relative;
            z-index: 2;
            flex-grow: 1;

            &::before {
                position: absolute;
                content: "";
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.7);
            }


            &-wrapper {
                z-index: 3;
                max-width: 550px;

                &__title h1 {
                    font-size: 40px;
                    text-transform: uppercase;
                    margin-bottom: 20px;

                    & span {
                        color: rgb(228, 163, 59);
                    }
                }

                &__subtitle {
                    font-size: 22px;
                    margin-bottom: 40px;
                }

                &__buttons {
                    & button {
                        color: #fff;
                    }

                    &-calc {
                        padding: 20px 42px;
                        @include standard-button;

                        &:hover {
                            background-color: rgb(228, 163, 59);
                        }
                    }

                    &-submit {
                        @include standard-button;
                        padding: 19px 21px;
                        border: 1px solid #fff;
                        background: none;
                        margin-left: 20px;
                        transform: .2s;

                        &:hover {
                            border: 1px solid #E3B873;
                            color: #E3B873;
                        }
                    }
                }
            }
        }
    }

    position: relative;

    &__scrolldown {
        position: absolute;
        bottom: -49px;
        z-index: 11;
        font-size: 14px;
        width: 248px;
        height: 98px;
        color: #fff;
        text-transform: uppercase;
        background-color: #131313;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration-line: none;

        & img {
            height: 28px;
            margin-left: 12px;
        }

        &:hover {
            color: #E3B873;
            cursor: pointer;
        }
    }



    // --- MEDIA

    @media (max-width: $screen-xxl) {
        &-top {
    
            &__logo {
            }
    
            &__menu {
                &-item {
                    &:hover {
                    }
                }
            }
    
            &__call {   
                &-tel {  }
                &-btn { 
                    display: none;
                }
            }
        }

        &-content {
    
            &-left {
    
                & a {}
    
                & p { }
    
                & p::after { }
            }
    
            &-main {
                &::before {}
    
    
            &-wrapper {

                &__title h1 {
                    & span {}
                }

                &__subtitle {}

                &__buttons {
                    & button {}
                    &-calc {}
                    &-submit {}
                    }
                }
            }
        }
    }


    @media (max-width: $screen-xl) {
        &-top {

            &__menu {
                display: none;
            }

            &__call {   
                &-btn { 
                    display: none;
                }
            }

        }
        &__scrolldown {
            display: none;
        }
    }

    @media (max-width: $screen-x) {
        
        &-content {

            &-left {
                display: none;
            }
    
            &-main {       
                &-wrapper {
                    &__title h1 {
                        & span {}
                    }
                    &__subtitle {}
    
                    &__buttons {
                        & button {}
                        &-calc {}
                        &-submit {}
                        }
                    }
                }
            }
    }

    @media (max-width: $screen-s) {
        
        &-content {
            &-main {       
                padding-left: 18px;
                padding-right: 18px;
                &-wrapper {

                    &__title h1 {
                        font-size: 23px;
                    }
                    &__subtitle {
                        font-size: 18px;
                    }
    
                    &__buttons {
                        display: flex;
                        flex-direction: column;
                        
                        & button {}
                        &-calc,
                        &-submit {
                            width: 100%;
                            margin-bottom: 30px;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }
            }
        }
    }


}


// END HEADER 

    


// COMPLETED
.completed-inner {
    max-width: 1440px;
    margin: 0 auto;
    // height: 800px;
    padding-bottom: 400px; //----- <<<<<<<<<< height
    display: flex;
    flex-direction: row;
    background-color: #131313;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;


    &-info {
        display: flex;
        padding-top: 174px;
        flex-direction: column;
        max-width: 472px;

        &__title {
            color: #E3B873;
            font-size: 27px;
            letter-spacing: -7%;
            text-transform: uppercase;
            margin-bottom: 30px;
            position: relative;
            width: 200px;

            &::after {
                position: absolute;
                content: "";
                width: 80px;
                height: 3px;
                background-color: #E3B873;
                bottom: 10px;
                right: -50px;
            }
        }

        &__subtitle {
            font-size: 18px;
            color: #fff;
            line-height: 29px;
            margin-bottom: 30px;
            padding-right: 40px;
        }

        &__description {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            &-inner {
                width: 50%;
                margin-bottom: 18px;

                &-title {
                    text-transform: uppercase;
                    color: #E3B873;
                    line-height: 25px;
                    font-size: 18px;
                    margin-bottom: 12px;
                }

                &-subtitle {
                    color: #fff;
                    font-size: 15px;
                }
            }
        }
    }

    &-menu {
        display: flex;
        flex-direction: column;
        padding-top: 108px;

        &__nav {
            margin-bottom: 46px;
            width: 624px;
            display: flex;
            justify-content: space-between;
        }

        &__nav a {
            color: rgba(255, 255, 255, 0.3);
            font-size: 14px;
            line-height: 20px;
            text-decoration-line: unset;
            text-transform: uppercase;
            position: relative;

            &:hover {
                color: #E3B873;

                &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: #E3B873;
                    bottom: -2px;
                    left: 0;
                }
            }
        }

        &__slider {
            max-width: 845px;
            height: 484px;
            display: flex;
            flex-direction: row;
            overflow: hidden;
            overflow: hidden;

            display: flex;
            position: relative;
            width: 840px;

            &-wrapper {
                width: 1480px;
                height: 484px;

                &-img-first {
                background: url("../../assets/images/COMPLETED-slider-01.png");
                width: 600px;
                height: 484px;
                }

                &-img-second {
                    background: url("../../assets/images/COMPLETED-slider-02.png");
                    width: 600px;
                    height: 484px;
                }

                &-btn-right {
                    background: url("../../assets/images/slider-btn-right.png") 50% 50%;
                    background-repeat: no-repeat;
                    width: 54px;
                    height: 54px;
                    position: absolute;
                    right: 40px;
                    top: 45%;
                    background-color: #E3B873;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }
    }

    // --- MEDIA

    @media (max-width: $screen-xxl) {
        flex-direction: column;
        padding-left: 18px;
        padding-right: 18px;
        padding-bottom: 300px;


        &-info {
            text-align: center;
            display: flex;
            justify-content: space-around;
            margin: 0 auto;
            padding-top: 30px;
            text-align: center;


            &__title { 
                font-size: 22px;
                &::after {display: none;}
             }
            &__subtitle { 
                font-size: 14px;
                padding-right: 0;}
            &__description {
                &-inner {
                    font-size: 14px;
                }
            }
        }

        &-menu {
            order: 2;
            &__nav {  display: none;}
            &__slider { 
                width: 100%;
                
                &-wrapper {
                    &-img-first {}
                    &-img-second { }
                    &-btn-right { }
                }
            }
        }
    }

}

// END COMPLETED




//  ONLINE CONTROL
.online-control {
    position: relative;
    height: 800px;
}

.online-control-inner {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 230px;


    max-width: 818px;
    margin: 0 auto;
    padding-bottom: 140px;

    display: flex;
    flex-direction: column;
    align-items: center;


    &__title {
        color: #fff;
        font-size: 20px;
        line-height: 28px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    &__img {
        width: 28px;
        position: relative;
        margin: 0 auto;
        

        &::before {
            @include left-subimage-bar();
        }

        &::after {
            @include right-subimage-bar();
        }
    }

    & iframe {
        margin-top: 40px;
        margin-bottom: 98px;
        height: 434px;
    }

    &__subtitle {
        font-size: 20px;
        color: #363636;
        margin-bottom: 100px;
        text-align: center;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            background-color: #E3B873;
            border-radius: 30px;
            width: 55px;
            height: 2px;
            left: 45%;
            top: -34px;

        }
    }
//  -------------------------------------------------
    &__form {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

        &-input {
            &-inner {
                
                display: flex;
                flex-wrap: wrap;
                justify-content: right;

                &-data {
                    display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
                }
            }
        }

        input {
            background-color: rgba(0, 0, 0, 0);
            border: none;
            outline: none;
            font-size: 18px;
            line-height: 24px;
            color: #363636;
            padding: 8px;
            border-bottom: 1px solid rgba(54, 54, 54, 0.3);
            margin-bottom: 46px;


            &::placeholder {
                font-size: 18px;
                line-height: 24px;
                color: #363636;
            }
        }

        &-checkbox {
            text-align: center;
            font-size: 18px;
            line-height: 24px;
            color: #363636;

            span {
                margin-left: 10px;
            }
        }

        button {
            @include standard-button();
            padding: 20px 54px;
        }
        // ------------------------------
        
    }

    // @media (max-width: $screen-xxl) {
    //     left: 40%;
    //     transform: translate(-40%, -40%);
    //     justify-content: space-around;
        
    // }

    @media (max-width: $screen-xl) {
        width: 100%;      
        justify-content: space-around;
        background-color: #131313   ;
        color: #fff;
        // padding-bottom: 1500px;
        &__title { }
        &__img { }
        & iframe {}
        &__subtitle {
            padding-left: 14px;
            padding-right: 14px;
            color: #fff;
            margin-bottom: 40px;
            &::before { }
        }
        &__form {
            display: flex;
            flex-direction: column;
            &-input {
                
                flex-direction: column;
                &-inner {
                    justify-content: left;
                    flex-direction: column;
                    &-data {}
                }
            }
            input {
                color: #fff;
                margin-bottom: 26px;
            }
            &-checkbox {
                span {color: #fff;}
            }
            button {}
            // ------------------------------
        }
    }

    @media (max-width: $screen-x) {

        &__title { }
        &__img { }
        & iframe {}
        &__subtitle {}
        &__form {
            display: flex;
            flex-direction: column;
            &-input {
                &-inner {
                    &-data {}
                }
            }
            &-btn {
                width: 98%;
            }
            input {}
            button { width: 100%;}
            // ------------------------------
        }
    }
}


// END ONLINE CONTROL


// TYPEs OF REPAIR
.types-of-repair-inner {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 238px;

    &__title {
        font-size: 20px;
        line-height: 28px;
        color: #181818;
        text-transform: uppercase;
        margin-bottom: 13px;
    }

    &__img {
        width: 28px;
        position: relative;
        margin: 0 auto;
        

        &::before {
            @include left-subimage-bar();
        }

        &::after {
            @include right-subimage-bar();
        }
    }

    &-from-rub {
        margin: 0 auto;
        margin-top: 30px;
        max-width: 1236px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        &__type {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 392px;
            height: 600px;
            position: relative;
            margin-bottom: 50px;

            & img {
                height: 421px;
            }
        }

        &-block {
            position: absolute;
            text-align: left;
            padding-top: 25px;
            padding-left: 30px;
            padding-bottom: 49px;
            top: 294px;
            width: 330px;
            background-color: #fff;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);

            &__title {
                color: #363636;
                font-size: 18px;
                line-height: 25px;
            }

            &__subtitle {
                font-size: 15px;
                line-height: 25px;
                color: #959595;
            }

            &__btn {
                @include standard-button();

                position: absolute;
                left: 0px;
                bottom: -30px;
                font-size: 18px;
                line-height: 25px;
            }

        }
    }

    &-request {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-top: 124px;
        justify-content: space-between;
        padding-right: 98px;

        &__circle {
            max-width: 750px;

            & img {
                width: 100%;
            }
        }

        &-block {
            &__form fieldset {
                display: flex;
                flex-direction: column;
                padding: 28px 48px;
                height: 510px;
                width: 510px;
                ;
                color: #fff;
                background-color: #131313;
                position: relative;


                & p {
                    font-size: 20px;
                    line-height: 25px;
                    width: 250px;
                    margin: 0 auto;
                }

                & input {
                    width: 100%;
                    margin-top: 46px;
                    border: none;
                    outline: none;
                    background-color: rgba(0, 0, 0, 0);
                    font-size: 18px;
                    line-height: 24px;
                    color: #fff;
                    padding: 8px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

                    &::placeholder {
                        font-size: 18px;
                        line-height: 24px;
                        color: #fff;
                    }

                }

                & label {
                    font-size: 16px;
                    line-height: 22px;
                    display: flex;
                    padding-top: 14px;

                    & input {
                        margin-top: 0;
                        width: 18px;
                        height: 18px;
                        margin-right: 18px;
                        background-color: #E3B873;
                    }
                }

                & button {
                    @include standard-button();
                    justify-self: right;
                    text-transform: uppercase;
                    color: #fff;

                    position: absolute;
                    bottom: 30px;
                    right: 50px;
                }
            }

            &__money-pig {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 30px;

                & img {
                    width: 72px;
                }

                & p {
                    font-size: 20px;
                    line-height: 25px;
                    color: #E3B873;
                    margin: 0;
                    text-align: left;
                }
            }

        }
    }

    // --- MEDIA

    @media (max-width: $screen-xxl) {
        padding-top: 100px;
        &-from-rub {
            justify-content: space-around;
        }
    }

    @media (max-width: $screen-xl) {
        padding-bottom: 60px;
        &-from-rub {
            justify-content: space-around;
        }

        &-request {
            padding-right: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            &__circle {
                margin: 0 auto;
                & img {}
            }

            &-block {
                margin: 0 auto;
            }
        }
    }

    @media (max-width: $screen-x) {
        padding-bottom: 0;
        &-request {
            display: none;
        }
    }
}

// END TYPES OF REPAIR


// FANTASIES
.fantasies {
    &-inner {
        max-width: 1440px;
        margin: 0 auto;

        background: url('../../assets/images/fantasies-bg.png') no-repeat 50% 50%;
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 870px;
        z-index: 2;

        &::before {
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.7);
        }

        &-menu {
            z-index: 3;
            padding: 136px 75px 98px 98px;

            &__title {
                text-transform: uppercase;
                color: #E3B873;
                font-size: 27px;
                line-height: 37px;
                width: 300px;
                margin-bottom: 47px;
            }

            &__list {
                color: #fff;
                font-size: 20px;
                line-height: 34px;
                list-style: none;

                & li:hover {
                    color: #E3B873;
                }
            }
        }

        &-images {
            position: absolute;
            top: -130px;
            right: 98px;
            z-index: 5;
            display: flex;
            flex-direction: row;

            &__column1,
            &__column2 {
                width: 354px;
                margin: 20px;

                & img {
                    margin-bottom: 40px;
                }

            }

            &__column1 {
                padding-top: 60px;
            }
        }

        // --- MEDIA
        @media (max-width: $screen-xxl) {
            &-menu {

                &__title {}
                &__list {  }
            }
            &-images {
                top: 20px;

                &__column1 {
                    display: flex;
                    
                    &:last-child {
                        display: none;
                    }
                }
                &__column1-2 {
                    display: none;
                }
                &__column2 {
                    display: none;
                }
            }
        }

        @media (max-width: $screen-xl) {
            display: flex;
            flex-direction: column;
            background-image: none;
            background-color: #181818;
            height: 300px;
            &-menu {
                display: flex;
                text-align: center;
                padding: 20px;
                &__title {
                    margin: 0 auto;
                }
                &__list { 
                    display: none;
                }
            }
            &-images {
                
                margin: 0 auto;
                top: 50px;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                right: 0px;
                left: 0px;
                &__column1 {
                    display: flex;
                    width: 100%;
                    justify-content: space-around;
                    
                }
                &__column1-2 {
                    display: none;
                }
                &__column2 {
                    display: none;
                }

                & img {
                    height: 242px;
                    width:  340px;
                }
            }
        }
    }  
}

// END FANTASIES

// DESIGN PROJECTS
.projects-inner {
    max-width: 1440px;
    margin: 0 auto;
    height: 660px;
    padding-top: 156px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__title {
        text-transform: uppercase;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 15px;
    }



    &__img {
        width: 28px;
        position: relative;

        &::before {
            @include left-subimage-bar();
        }

        &::after {
            @include right-subimage-bar();
        }
    }

    &__subtitle {
        font-size: 20px;
        line-height: 27px;
        color: #363636;
        margin-top: 15px;
        margin-bottom: 48px;
        text-align: center;
    }

    &-block {
        margin: 0 auto;
        margin-top: 30px;
        max-width: 1236px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        &__type {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 392px;
            height: 600px;
            position: relative;
            margin-bottom: 50px;

            & img {
                height: 421px;
            }

            &-block {
                position: absolute;
                text-align: left;
                padding-top: 25px;
                padding-left: 30px;
                padding-bottom: 49px;
                top: 294px;
                width: 330px;
                background-color: #fff;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);

                &__title {
                    color: #363636;
                    font-size: 18px;
                    line-height: 25px;
                }

                &__subtitle {
                    font-size: 15px;
                    line-height: 25px;
                    color: #959595;
                }

                &__btn {
                    @include standard-button();

                    position: absolute;
                    left: 0px;
                    bottom: -30px;
                    font-size: 18px;
                    line-height: 25px;
                }

            }
        }
    }

    // --- MEDIA

    @media (max-width: $screen-xxl) {
        padding-top: 100px;
        height: 1800px;
        padding-bottom: 40px;

        &-from-rub {
            justify-content: space-around;
        }
        &-block {
            justify-content: space-around;

            &__type {
                margin: 40px;
            }
        }
    }

    @media (max-width: $screen-x) {
        height: 1860px;
        background-color: #181818;
        &__title {
            color: #fff;
        }
        &__subtitle {
            color: #fff;
        }
    }
}

// END DESIGN PROJECTS

    
// STEPS
// END STEPS

// TEAM
.team-inner {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #131313;
    text-align: center;
    padding-top: 598px;
    height: 1000px;
    

    &__title {
        text-transform: uppercase;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 15px;
        color: #fff;
    }

    &__img {
        width: 28px;
        position: relative;
        margin: 0 auto;
        

        &::before {
            @include left-subimage-bar();
        }

        &::after {
            @include right-subimage-bar();
        }
    }

    &__subtitle {
        font-size: 20px;
        line-height: 27px;
        color: #fff;
        margin-top: 15px;
        margin-bottom: 48px;
        text-align: center;
    }

    &-block {
        margin: 0 auto;
        max-width: 1236px;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        &-person {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 392px;
            height: 380px;
            position: relative;
            margin-bottom: 50px;
            padding-top: 30px;
            padding-left: 30px;

            &__ico {
                height: 70px;
                width: 70px;
                position: absolute;
                top: 0;
                left: 0;
            }

            &__main-img {
                height: 356px;
                width: 272px;
            }

            &__team-block {
                position: absolute;
                text-align: center;
                padding-top: 25px;
                top: 294px;
                height: 136px;
                width: 236px;
                background-color: #fff;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);

                &__title {
                    font-size: 18px;
                    line-height: 25px;
                    color: #181818;
                }

                &__subtitle li {
                    font-size: 15px;
                    line-height: 25px;
                    color: #959595;
                    list-style-type: none;
                }

                &__subtitle ul {
                    padding-left: 0;
                }

                &__btn {
                    @include standard-button();

                    width: 100%;
                    height: 44px;
                    padding: 0;
                    font-size: 13px;
                    line-height: 20px;
                }

            }

        }
    }

    &__under-block {
        margin-top: 70px;
        font-size: 20px;
        line-height: 34px;
        color: #363636;
    }

    &__white {
        height: 500px;
        background-color: #fff;
    }

    // --- MEDIA ---

    @media (max-width: $screen-xxl) {
        padding-top: 40px;
        &__title {}
        &__img {}
        &__subtitle {}
        &-block {
            &-person {
                &__ico { }
                &__main-img {}
                &__team-block {
                    &__title {}
                    &__subtitle li { }
                    &__subtitle ul {}
                    &__btn {}
                }
            }
        }
        &__under-block { display: none;}
        &__white {
            height: 0px;
        }
    }

    @media (max-width: $screen-xl) {
        padding-top: 740px;
        background-color: #181818;
        &__title {}
        &__img {}
        &__subtitle {}
        &-block {
            &-person {
                margin: 5px 20px 80px 20px;
                &__ico { }
                &__main-img {}
                &__team-block {
                    &__title {}
                    &__subtitle li { }
                    &__subtitle ul {}
                    &__btn {}
                }
            }
        }
        &__white {
            height: 860px;
            background-color: #181818;
        }
    }

    @media (max-width: $screen-x) {
        padding-top: 740px;
        background-color: #181818;
        &__title {}
        &__img {}
        &__subtitle {}
        &-block {
            &-person {
                margin: 5px 20px 80px 20px;
                &__ico { }
                &__main-img {}
                &__team-block {
                    &__title {}
                    &__subtitle li { }
                    &__subtitle ul {}
                    &__btn {}
                }
            }
        }
        &__white {
            height: 1360px;
            background-color: #181818;
        }
    }
}

// END OUR TEAM


// OUR CLIENTS
.clients-inner {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
    height: 1100px;
    background-color: rgb(250, 250, 250);

    &__title {
        text-transform: uppercase;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 15px;
        color: #181818;
    }

    &__imG {
        width: 28px;
        position: relative;
        margin: 0 auto;
        

        &::before {
            @include left-subimage-bar();
        }

        &::after {
            @include right-subimage-bar();
        }
    }

    &__subtitle {
        font-size: 20px;
        line-height: 27px;
        color: #363636;
        margin-top: 15px;
        margin-bottom: 48px;
        text-align: center;
    }


    &-block {
        margin: 0 auto;
        margin-top: 30px;
        max-width: 1236px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        &-person {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            background-color: #fff;
            margin-bottom: 40px;
            width: 376px;
            height: 420px;
            position: relative;

            &__title {
                padding: 20px;
                display: flex;
                align-items: center;
                text-align: left;
                font-size: 18px;
                line-height: 25px;
                color: #181818;
                padding-right: 80px;

                & img {
                    margin-right: 20px;
                }
            }

            &__subtitle {
                text-align: left;
                padding: 20px;
                font-size: 15px;

            }

            &__btn {
                @include standard-button();

                position: absolute;
                width: 50%;
                height: 44px;
                padding: 0;
                bottom: -22px;
                left: 0;
                font-size: 13px;
                line-height: 20px;
            }
        }
    }
}

// --- MEDIA ---
.clients {
    @media (max-width: $screen-xxl) {
        display: none;
    }
}
// END OUR CLIENTS


// CONTACTS
.contacts-inner {
    max-width: 1440px;
    margin: 0 auto;
    // text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../../assets/images/contacts-bg.png");
    padding-top: 275px;
    position: relative;
    z-index: 2;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
        z-index: 1;
    }

    &__form {
        position: absolute;
        top: -230px;
        z-index: 3;
        width: 884px;
        height: 446px;
        background-color: #181818;
        padding: 10px 182px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &-title {
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
        }

        input {
            background-color: rgba(0, 0, 0, 0);
            border: none;
            outline: none;
            font-size: 18px;
            line-height: 24px;
            color: #FFFFFF;
            padding: 8px;
            border-bottom: 1px solid rgba(54, 54, 54, 0.3);
            margin-bottom: 46px;

            &::placeholder {
                font-size: 18px;
                line-height: 24px;
                color: #FFFFFF;
            }
        }

        &-checkbox {
            text-align: center;
            color: #fff;

            span {
                margin-left: 10px;
            }
        }

        &-btn {
            text-align: center;
        }
        
        button {
            @include standard-button();
            padding: 20px 54px;
        }
    }

    &__title {
        z-index: 3;
        font-size: 20px;
        line-height: 28px;
        text-transform: uppercase;
        max-width: 590px;
        text-align: center;
        color: #E3B873;
        margin-bottom: 30px;
    }

    &__icons {
        z-index: 3;

        & img {
            margin: 8px;
        }
    }

    &__map {
        z-index: 3;
        margin: 40px;
        width: 928px;
        height: 460px;
    }
    // --- MEDIA ---
    
    @media (max-width: $screen-xl) {
        background-image: none;
        background-color: #181818;
        &__form {
            position: relative;
        }

        &__title {
            order: 3; 
        }
        &__icons { 
            order: 4;
        }
        &__map {
            order: 2;
            width: 90%;
        }
    }

    @media (max-width: $screen-xl) {
        padding-top: 0;
        &__form {
            top: 0;
            position: relative;
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            flex-direction: column;
            align-items: center;

            &-title {}
            input {
                &::placeholder {}
            }
            &-input {}
            &-checkbox {
                span {}
            }
            &-btn { }
            button { } 
        }

        &__map {
            order: 2;
            height: 255px;
            width: 90%;
        }
    }

    @media (max-width: $screen-xl) {
        padding-top: 0;
        &__form {
            &-title {}

            &-input {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

// END CONTACTS


// FOOTER
.footer-inner {
    max-width: 1440px;
    margin: 0 auto;

    &-top {
        background-color: #131313;
        padding: 24px 0 22px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        &__logo {
            color: #E3B873;
            font-size: 14px;
            text-transform: uppercase;
            cursor: pointer;
        }

        &__menu {
            width: 600px;
            display: flex;
            justify-content: space-between;

            &-item {
                font-size: 14px;
                color: #fff;
                text-decoration-line: none;

                &:hover {
                    color: #E3B873;
                }
            }
        }

        &__call {
            display: flex;
            align-items: center;

            &-tel {
                color: #E3B873;
                font-size: 14px;
                border-bottom: 1px solid #E3B873;
                cursor: pointer;
            }

            &-btn {
                padding: 13px 33px;
                border: 0;
                text-transform: uppercase;
                color: #fff;
                border: none;
                background-color: #E3B873;
                border-radius: 2px;
                cursor: pointer;
                font-size: 13px;
                margin-left: 30px;
            }
        }
    }
}

// --- MEDIA ---
.footer {
    @media (max-width: $screen-xxl) {
        display: none;
    }
}

// END FOOTER